table{border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
}
input{ border-radius: 5px;
    background-color: aqua;
    color: black;
    text-align: right;
}
button{
    background-color: lightskyblue;
    border-collapse: collapse;
    border-radius: 5px;
}
